//body
$body-frame: 0;

//colors of the project
$color-white: #F4F4F4;
$color-black: rgba(22, 22, 22, 1);

$color-grey-light: rgba(126, 126, 126, 1);
$color-grey-dark: rgba(48, 48, 48, 1);

$color-blue1-dark: #1C50BA;
$color-blue1-light: #266DFF;

$color-blue2-dark:#00A2FF;
$color-blue2-light:#01C0F4;

//FONTS OF THE PROJECT
$default-font-size: 1.6rem;


//GRID DIMENSIONS 
$grid-width: 150rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-horizontal: 5rem; 

//NAVBAR
$navbar-height: 10rem;