.supervisor {
  width: 100vw;
  height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: column;

  &__menu {
    width: 100vw;
    background-color: $color-blue2-light;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__title {
      font-size: 3rem;
    }
    &__link {
      font-size: 1.7rem;

      &:first-child {
        margin-top: 5rem;
      }
      &:hover {
        cursor: pointer;
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
  &__mainZone {
    width: 100vw;
    height: 100%;
  }
}
